rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function admin() { return signedIn() && request.auth.token.email == "admin@greatindia.technology"; }

    match /users/{uid} {
      allow read, create, update: if signedIn() && request.auth.uid == uid;
    }

    match /usage/{uid} {
      allow read: if signedIn() && request.auth.uid == uid || admin();
      allow create: if signedIn() && request.auth.uid == uid
        && request.resource.data.uid == uid
        && request.resource.data.count == 1
        && request.resource.data.extra == 0;
      allow update: if signedIn() && (
        (request.auth.uid == uid
          && request.resource.data.uid == resource.data.uid
          && request.resource.data.extra == resource.data.extra
          && request.resource.data.count == resource.data.count + 1)
        || admin()
      );
    }

    match /adminRequests/{uid} {
      allow create, read: if signedIn() && request.auth.uid == uid || admin();
      allow update: if admin();
    }

    match /appHistory/{id} {
      allow create: if signedIn() && request.resource.data.uid == request.auth.uid;
      allow read: if signedIn() && resource.data.uid == request.auth.uid || admin();
    }
  }
}